<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h4 class=" card-title">liste des opérateurs</h4>
            <div class=" card-body">
                <div class=" table">
                    <table class=" table " id="">
                        <thead class=" text-primary">
                          <tr>
                            <th scope="col">ID opérateur</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Prénom</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>

                            <button class="btn btn-outline-primary" (click)="goToAddOperateur()" >Ajouter un nouveau operateur</button>
                          </tr>
                          
                        </thead>
                        <tbody>
                          <tr *ngFor = "let operateur of operateurs ">
                            <td>{{ operateur.id }} </td>
                            <td>{{ operateur.nom }} </td>
                            <td>{{ operateur.prenom }} </td>
                            <td>{{ operateur.email }} </td>
                            <td>{{ operateur.role }} </td>
                            <td>
      
                                <button type="button" class="btn btn-warning" (click)="goToUpdateOperateur(operateur.id)">Modifier</button>
                                <button type="button" class="btn btn-danger" (click)="deleteOperateur(operateur.id)">Supprimer</button>
            
                              </td>
            
                        </tbody>
                    </table>      
    
                </div>
    
              </div>
              
          </div>
        </div>  
    </div>
               

        
        
  </div>
</div>

